body {
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: 'Duru Sans', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #123;
}

h1 {
    font-size: 230%;
}

h1,h2,h3,h4,h5,h6 {
    color: #000055;
}

a, a:visited {
    color: #000088;
}

#content {
    min-width: 320px;
}

article, footer {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

#signature {
    padding: 30px 0;
    text-align: right;
}

footer {
    background: #FFEFD5;
}

footer section {
    float: right;
    width: 364px;
    font-size: 16px;
}

code, code pre {
    background: #eee;
    font-family: 'Ubuntu Mono', monospace;
    color: #440000;
}

code pre {
    padding: 10px 15px;
    overflow: auto;
    font-size: 18px;
}

#disqus_thread {
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 16px;
    }

    footer section {
        float: none;
        width: auto;
    }
}
