body {
    margin: 0;
    padding: 0;
    background: #000011 url(noisy_net.png);
    color: #def;
    font-family: 'Ubuntu', sans-serif;
    font-size: 22px;
}

h1 {
    font-size: 230%;
}

h1,h2,h3,h4,h5,h6 {
    color: #000055;
}

a, a:visited {
    color: #000088;
}

#content {
    min-width: 320px;
    background: #DDD url(textured_paper.jpg);
    color: #123;
    box-shadow: inset 1px -8px 15px -6px;
}

article, footer {
    max-width: 728px;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

#signature {
    padding: 30px 0;
    text-align: right;
}

footer section {
    float: right;
    width: 364px;
    font-size: 16px;
}

footer a,
footer a:visited,
footer h2 {
    color: #def;
}

code, code pre {
    font-family: 'Ubuntu Mono', monospace;
    color: #440000;
}

code pre {
    padding: 10px 15px;
    background: #eee;
    box-shadow: 0 0 15px -5px #000;
    overflow: auto;
}

#disqus_thread {
    padding-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    body {
        font-size: 18px;
    }

    #content {
        box-shadow: none;
    }

    footer section {
        float: none;
        width: auto;
    }
}
